@{
  Layout = "_Layout";
}

<div class="well">
  <h3>Your word was:</h3>
  <p>@Model.GetWord()</p>
  <h3>Your text was:</h3>
  <p>@Model.GetText()</p>
  <br>
  @{
    if (@Model.GetCounter() == 0)
    {
      <h3>Oh no! Your word did not appear in the text.</h3>
    }
    else
    {
      <h3>Your word appeared @Model.GetCounter() times in the text!</h3>
    }
  }
  <hr>
  <h4><a href="/">Go Back</a></h4>
</div>
