@{
  Layout = "_Layout";
}

<div class="well">
  <form class="form-group" action="/" method="post">
    <label for="word">Enter the word you are searching for:</label>
    <input type="text" name="word" class="form-control">
    <br>
    <label for="word">Enter the text you want to search through:</label>
    <input type="text" name="text" class="form-control">
    <hr>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
